.DS_Store
**/*.egg-info
.conda
DG*
build
data*/
dist/


__pycache__/
generated_annot

*.txt
*.bed
*.bim
*.fam
*.phen
*.covar
*.bin
*.tr

*.json
*.pkl

.env
test_small_sample.py


!example/**/*
# /example
